body{
    background:#444;
    margin: 0;
    font-family: monospace;

}
h1{
    color:#fff;
    text-align: center;
}
/* Estilos de la galeria */
.galeria{
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li{
    margin: 5px;
}

.galeria img{
    width: 150px;
    height: 100px;
}

